
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <h1>Mobile Master Page</h1>
        <section class="content-wrapper main-content clear-fix">
            @Body
        </section>
    </div>
</body>
</html>