@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage" class="nav-link">Hello @User.Identity.Name!</a>
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" id="registerLink" class="nav-link">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login" id="loginLink" class="nav-link">Log in</a></li>
    </ul>
}
