@namespace WebApplication1.Components.Pages.SubmitSuccessful

@page "/SubmitSuccessful"

@using Microsoft.Extensions.Logging

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Application Submited</h1>
        <p class="lead">Well done.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Form 1</h2>
            <p> Inline expression finally works: @DateTime.Now </p>
        </section>
        <script language="Javascript" type="text/javascript">
        </script>
    </div>
</main>

@code {
    [Inject]
    private ILogger<SubmitSuccessful> Logger { get; set; } = default!;

    protected override void OnInitialized()
    {
    }
}